.tasks {
    background-color: #9b81f3;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0px;
    border: 1px solid #40005d;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(183, 0, 255, 0.2);
    font-family: Arial, sans-serif;
  }